header {
    height: 60px;
    background-color: #e5ad51;
}

.first_section_header{
    font-size: 2em;
    font-weight: bold;
}

.img1 {
    height: 10cm;
}

.second_section_header{
    font-size: 2em;
    font-weight: bold;
}

.quote{
    background-color: rgb(229, 217, 162);
}

.links{

    height: 300px;
    background-color: rgb(120, 55, 220);
    color: white;
}

.link{
    color: white;
}